.cart a {
    text-decoration: none;
    margin-right: 10px;
    font-weight: 700;
    color: rgb(238, 240, 242);




}

.cart {
    padding-right: 15px;
    height: 50px;
    display: flex;
    color: rgb(230, 218, 218);
    background-color: rgb(19, 19, 19);
    justify-content: flex-end;
    align-items: center;

}

.cart a:hover {
    color: orange;
    border-bottom: 1px solid orange;
    transition: 0.2s;



}